<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>Insert title here</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="/img/icon.png">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="/post.js"></script>
	<script src="/get.js"></script>
	<script src="/put.js"></script>



</head>
<body>
<div class="homepage">

	<div  id="postResultDiv"  class="form-check-label text-white" align="center"></div>
	<div class="container" >
		<h1 class="form-check-label text-white">JJLZ</h1><br>
		<h2 class="form-check-label text-white">Create Account</h2>
		<h2 class="form-check-label text-white">Login</h2>
		<div id="content-wrapper" class="homepage">
			<p id="title"></p>
		<!--	<p id="create"></p>
			<p id="logIn"></p>
			<p id="log"></p>-->
			<form method="GET" action="register" >
				<button  type="submit" class="btn btn-primary">Create Account</button>
			</form>
			<br>
			<form method="GET" action="login">
				<button type="submit" class="btn btn-primary">Login</button>
			</form>

			<div class="col-sm-7" style="margin: 20px 0px 20px 0px">
				<div id="getResultDiv" style="padding: 20px 10px 20px 50px">
					<ul class="list-group"></ul>
				</div>
			</div>
		</div>

	</div>
</div>
</body>
</html>








<!--

<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="/img/icon.png">
		<title>JJLZ Algos</title>
		<link rel="stylesheet" href="css/styles.css">
		<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/js/common.js"></script>
		<script src="/js/homepage.js"></script>

	</head>

	<body>
		<div id="content-wrapper" class="homepage">
			<p id="title"></p>
			<p id="create"></p>
			<p id="logIn"></p>
		</div>
	</body>
</html>
-->
