<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>JJLZ Algos</title>
		<link rel="icon" type="image/png" href="/img/icon.png">
		<link rel="stylesheet" href="css/styles.css">
		<script src="/js/common.js"></script>
		<script src="/js/userhome.js"></script>
	</head>

	<body>
		<div id="header">
			<div id="logo-icon"></div>
			<div id="logo-text">JJLZ Algos</div>
			<div id="margin"></div>
			<div class="dropdown" id="account">
				<div class="dropbtn" id="settingsBtn">My Account</div>
				<div id="settingsDropdown" class="dropdown-content">
					<div>Log Out</div>
				</div>
			</div>
		</div>
		<div id="content-wrapper" class="userpage">
			<div id="accountsummary"></div>
			<div id="stocksummary"></div>
			<div id="watchlistsummary"></div>
		</div>
	</body>
</html>
