<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>JJLZ Algos</title>
		<link rel="icon" type="image/png" href="/img/icon.png">
		<link rel="stylesheet" href="css/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
		<script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
		<script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		<script src="/js/common.js"></script>
		<script src="/js/userhome.js"></script>
	</head>

	<body>
		<div id="header">
			<div id="logo-icon"></div>
			<div id="logo-text">JJLZ Algos</div>
			<div id="margin"></div>
			<div class="dropdown" id="account">
				<div class="dropbtn" id="settingsBtn"></div>
				<div id="settingsDropdown" class="dropdown-content">
					<div id="logOutBtn">Log Out</div>
					<div id="accountBtn">Account</div>
					<div id="stocksBtn">Manage Stocks</div>
					<div id="watchlistBtn">View Watchlist</div>
				</div>
			</div>
		</div>
		<div id="content-wrapper" class="userpage">
<!--			<div id="accountsummary"></div>
			<div id="stocksummary"></div>
			<div id="watchlistsummary"></div>
			<canvas id="stockChart"></canvas> -->
		</div>
	</body>
</html>
