<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>Insert title here</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="/img/icon.png">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="/post.js"></script>
	<script src="/get.js"></script>
	<script src="/put.js"></script>



</head>
<body>
<div class="homepage">
	<!--<header style="background-color: aquamarine ; border: black solid; width: auto; height: 70px;text-align:center; font-size: 30px " ><strong>Login Page</strong></header>-->
	<div  id="postResultDiv" class="form-check-label text-white" align="center"></div>
	<div class="container">
		<h1 class="form-check-label text-white">JJLZ</h1><br>

		<script src="watchList" ></script>

		<form method="GET" action="/">
			<button type="submit" class="btn btn-primary">Home Page</button>
		</form>

		<div class="col-sm-7" style="margin: 20px 0px 20px 0px" >
			<button id="getAllWatchedStocksByUser" type="button" class="btn btn-primary" >WatchList</button>
			<div id="getResultDiv"  style="padding: 20px 10px 20px 50px">
				<ul class="list-group text-white"></ul>
			</div>
		</div>
	</div>
</div>
<!--<footer style="background-color: aquamarine ; border: black solid; width: auto; height: 80px; text-align:center; font-size: 30px" ><strong>Footer</strong></footer>-->
</body>
</html>